*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.contenedorregistros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.containeelemetes {
    width: 50%;
  
    border-radius: 5px;
    padding: 10px;
}
.context {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.contenedorbutones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.contegridbutton {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img.img_re_fi {
    width: 54%;
    border-radius: 5px;
}
.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorimage {
    display: flex;
    justify-content: center;
    align-items: center;
}
a.button_reg {
    text-decoration: none;
    background-color: #007bff;
    padding: 15px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #2e2e2e;
    cursor: pointer;
    width: 60%;
    font-size: 1.5vh;
    text-align: center;
}
a.button_reg:hover {
    background-color: #0269d8;
   
}
/*
div.overlaygen {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
*/
.show{
    visibility: visible !important;
}

.containertitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2e2e2e;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
h3.titleregistro {
    text-align: center;
}
.inputsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.inputsgri3 {
    display: grid;
    grid-template-columns: 1fr ;
    padding: 10px;
}
.inputsgrid2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajainputs {
    padding: 10px;
    margin: 10px;
}
.cajalabelhijo {
    margin-bottom: 10px;
}
input.btn-registros {
    padding: 7.5px;
    width: 100%;
    border: 1px solid #9c9c9c;
    background: #f1f1f1;
    border-radius: 5px;
}
select {
    padding: 5px;
    width: 100%;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
}
input[type="file"] {
    width: 100%;
    background: #858484;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
button.btn-cerrarregistro {
    width: 90%;
    padding: 10px;
    cursor: pointer;
    background-color: #d30505;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: inherit;
}
input[type="submit"] {
    width: 90%;
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: inherit;
}
.cajahijoinput {
    display: flex;
    justify-content: center;
    align-items: center;
}
